@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:root{
    --background:url(./img/waves.svg);
    --font-stack: "Open Sans", arial, sans-serief
}

/* Root styles */
body{
    padding:0px;
    margin:0px;
    background-color: #ff6347;
    color:rgb(255, 255, 255);
    font-family:var(--font-stack);
}   

iframe{
    border-radius: 10px;
}


/* Class Styles */
.banner-container{
    display: grid;
    place-items: center;
    background-color:rgb(63, 62, 62);
    margin-bottom: 20px;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding:1rem;
    width: 98%;
}
.wave{
    width: 100%;
    position: relative;
    bottom: -.6rem;
}

.window-container{
    width: 98%;
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    padding:0px .5rem;
    gap:.5rem;
}

.frame{
    display: flex;
    align-items: start;
    padding:.5rem;
    background-color:rgb(64, 58, 70);
    border-radius: 20px;
    box-shadow: 5px 10px 10px 5px rgba(37, 37, 37, 0.589);
}
.frame:hover > #del-btn{
    max-width: 40px;
}

/* Sidebar */
.sidebar{
    background-color: #373538;
    box-shadow: 5px 10px 10px 10px rgba(37, 37, 37, 0.596);
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    padding:10px;
    text-align: center;
    position: absolute;
    left: -550px;
    top:0px;
    max-width: 500px;
    overflow-y: auto;
    height:100vh;
    transition: 700ms cubic-bezier(.67,-0.08,.39,1.15);
    border-radius: 0px 0px 10px 0px;
}
.encoder-container{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-template-rows:auto auto;
    grid-auto-flow: row;
    gap:10px;
    
}


.settings{
    position: absolute;
    top:-400px;
    width: 100%;
    z-index: 1;
    background-color: #0087e2;
    transition: 700ms cubic-bezier(.67,-0.08,.39,1.15);
}

.placeholder{
    display: inline-block;
    text-align: center;
    padding: 30px;
    background-color: rgba(59, 58, 58, 0.397);
    border: 5px dashed rgb(201, 201, 201);
    border-radius: 10px;
}
.placeholder img{
    height:100px;
    width: 100px;
}

/* Utility */
.btn{
    background-color:#0087e2 ;
    border:1px solid white;
    padding:5px;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(164, 163, 204);
}
.submit-btn{
    border:1px solid black;
    
}
.submit-btn:hover{
    cursor: pointer;
}
#del-btn{
    max-width: 0px;
    transition: 1s cubic-bezier(.57,-0.43,.36,1.4);
}
#del-btn:hover{
    transform-origin: center;
    transform: rotate(180deg) scale(1.5);
    transition: 400ms cubic-bezier(.57,-0.43,.36,1.4);
}
.menu-btn{
    /* position:absolute;
    left:1%;
    top: 5%; */
    height:50px;
    width: 50px;
    transition: 400ms cubic-bezier(.57,-0.43,.36,1.4);
}
.menu-btn:hover{
    transform: scale(1.5);
    transition: 400ms cubic-bezier(.57,-0.43,.36,1.4);
}
.collapse-btn{
    position: relative;
    left: -45%;
    transition: 400ms cubic-bezier(.57,-0.43,.36,1.4);
}
.collapse-btn:hover{
    transform: scale(1.5);
    transition: 400ms cubic-bezier(.57,-0.43,.36,1.4);
}

.input-group{
    background-color: #305772;
    padding:5px;
    width: auto;
}

/* Media Query */
@media(max-width: 1670px){
    .window-container{
        grid-template-columns: auto;
    }
}