@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:root{
    --background-color:#ff4500;
    --secondary-color:#0a86db;
    --accent-color:rgb(75, 149, 199);
    --accent-hover:#ffbc02;
    --tertiary-color:#73c100;
    --font-stack: "Open Sans", arial, sans-serief
}

/* Root styles */
body{
    padding:0px;
    margin:0px;
    background-color: var(--background-color);
    color:rgb(255, 255, 255);
    font-family:var(--font-stack);
    scroll-behavior: smooth;

    display: grid;
    grid-template-columns: auto 1.6fr;
    grid-template-rows: auto 0.1fr 2.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "setting setting"  
      "header header"
      "sidebar main";
  }



/* Containers */
.settings{
    grid-area: setting;
    display: flex;
    justify-content: start;
    max-height: 0px;
    overflow: hidden;

    background-color: var(--tertiary-color);
    transition: max-height 300ms cubic-bezier(.53,.01,.58,.99);
}
/* header */
.banner-container{
    grid-area: header;

    background-color: var(--secondary-color);
}
.banner{
    padding:1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wave{
    position: relative;
    top:.4em;
}
/* sidebar */
.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    max-width: 0px;
    border:2px solid white;
    overflow: hidden;
    
    padding:.5em;
    position: relative;
    left:-100px;

    background-color: var(--secondary-color);
    
}
.manual-link{
    display: flex;
    justify-content: space-around;
}
.encoder-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:.25em;
}

/* frame container */
.window-container{
    grid-area: main;

    display: flex;
    flex-direction: column;
}

/* Dynamic Frame Element */
.frame-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: auto;
    height: 400px;
    
    margin-right: 1em;
    background-color: var(--accent-color);
}
iframe{
    padding:.5em;
    height: 24em;
    min-width: 15em;
    max-width:52em;
}

/* Components */

/* Overlay */
.overlay{
    display: none;
    place-items: center;
    color:rgb(204, 204, 204);
    text-align: center;
    position: absolute;
    top:0px;
    z-index: 10;
    height:100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.431);
}
.loading{
    height: 5em;
    width: 5em;
    animation: load 2s linear infinite;
    
}

/* Placeholder */
.placeholder{
    margin-top: 5em;
    margin-right: 1em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    background-color: rgba(79, 90, 80, 0.404);
    border:5px dashed rgba(200, 200, 200, 0.774);
    border-radius: 10px;
    font-size: 20px;
}
.placeholder img{
    margin-top: 1em;
    height:10em;
}

.manual-box{
    border: 3px solid var(--accent-hover);
}
.logo{
    height:7em;
}
.msg{
    padding:.5em;
    display: none;
}

/* Buttons */

/* clear all button */
.clear-btn{
    border:1px solid #fff;
    border-radius: 10px;
    padding:.25em;
}
.clear-btn:hover{
    background-color: var(--background-color);
}
.clear-btn:active{
    background-color: var(--accent-hover);
}
/* Main menu button */
.menu-btn{
    height:3em;
}
#menu-check{
    display: none;
}
/* Generic buttons used on encoder buttons */
.btn{
    text-align: center;
    height:3em;
    width: 3em;
    background: var(--accent-color);
    border:1px solid white;
    border-radius: 5px;
}
.btn:hover{
    background:var(--accent-hover);
}
/* Manual Button for manual link */
.manual-btn:hover{
    background-color: var(--accent-hover);
}
.manual-btn:active{
    background-color: var(--background-color);
}
/* Remove button for frames */
.remove-btn{
    width: 1.5em;
    margin:.25em;
    display: none;
    transition: 200ms cubic-bezier(.4,.13,.7,.99);
}
.remove-btn:hover{
    transform: scale(1.3) rotate(180deg);
    transition: 200ms cubic-bezier(.4,.13,.7,.99);
}
.frame-container:hover > .remove-btn{
    display: block;
}
.frame-container:hover{
    background-color: var(--accent-hover);
}
  /* Utility */
  .sidebar-expanded{
    position: unset;
    min-width: 11em !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .setting-expanded{
      max-height:15em !important;
      transition: max-height 300ms cubic-bezier(.53,.01,.58,.99);
  }
  
  

  /* media Query */
  @media(min-width:1000px){
    /* Sidebar Adjust */
    .sidebar{
        grid-area: sidebar;
        max-width: 0px;
        border-radius: 10px;
        overflow: hidden;
        padding:.5em;
        position: relative;
        left:-100px;
    
        background-color: var(--secondary-color);
        
    }
    .sidebar-expanded{
        position: unset;
        max-width: 35em !important;
    }
    .encoder-container{
        display: grid;
        grid-template-columns:3em 3em 3em 3em;
        gap:.25em;
    }
   
  }
  @media(min-width:1200px){
    .window-container{
        display: grid;
        grid-template-columns:49% 49%;
        grid-auto-rows: 31em;
        grid-gap: .5em;
        grid-auto-flow: row;
    }
      .frame-container{
          margin-right: 0px;
        height:450px;
        max-width: 40em;
        border-radius: 10px;
      }
      iframe{
          height:27em;
          min-width: 35em;
          
      }
  }
  @media(min-width:1750px){
      /* Frame Adjust */
    .window-container{
        display: grid;
        grid-template-columns:33% 33% 33%;
        grid-auto-rows: 31em;
        grid-gap: .5em;
        grid-auto-flow: row;
    }
    .frame-container{
        height: 500px;
        min-width: 10em;
        max-width: 45em;
        border-radius: 10px;
    }
    iframe{
        height:30.25em;
        min-width: 30em;
    }
  }


  /* Animations */
  @keyframes load{
      0%{transform: rotate(0deg);}
      100%{transform: rotate(360deg);}
  }

